* {
    font-family: 'Co Text Trial';
}
.container {
  width: 100%;
  padding: 30px 0;
  background: #474b55;
  
}

.title {
  text-align: left;
  margin-left: 95px;
  color: #ffd400;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 15px;
}

.tickerWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.tickerTrack {
  display: flex;
  width: max-content;
  animation: tickerScroll 30s linear infinite;
}

.tickerImage {
  height: 120px;
  width: auto;
  margin-right: 40px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 20px;
}


@keyframes tickerScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 0;
  }
  .title {
    font-size: 1.8rem;
    margin-left: 20px;
  }
  .tickerImage {
    height: 80px;
    margin-right: 20px;
  }
}